.categories {
    margin: 40px 0;
    ul {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    li {
        margin: 10px 23px;
    }
    a {
        font-size: 19px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 1.9px;
        color: $gray;
        border-bottom: 1px solid transparent;
        text-decoration: none;
        display: inline;

        &:hover {
            border-bottom-color: $gray;
        }
    }
}

@media (max-width: 768px) {
    .categories {
        margin: 25px 0;
        li {
            margin: 5px;
        }
        a {
            font-size: 17px;
        }
    }
}